input, textarea { 
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none; 
  }
/** hidden search field **/
#searchbar {
    display: none;
    margin-top: 4%;
    float: left;
    width: 100%;
    height: 62px;
    border-top: 1px solid #d8d8d8;
    padding-left: 25px;
    padding-right: 10px;
    z-index: 9999;
    background: #fff;
    -webkit-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
    box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
  }
  
  #s {
    display: block;
    width: 88%;
    border: 0;
    outline: none;
    padding: 0;
    height: 60px;
    line-height: 60px;
    font-size: 1.2em;
    font-weight: bold;
    color: #676767;
  }
  
  #searchsubmit {
    display: block;
    float: right;
    margin-top: 6px;
    background: none;
    color: #717171;
    border: 0;
    outline: none;
    cursor: pointer;
  }
  
  /** clearfix **/
  .clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
  .clearfix { display: inline-block; }
   
  html[xmlns] .clearfix { display: block; }
  * html .clearfix { height: 1%; }  