.btn-outline-secondary {
  margin: 4% auto; 
  border-radius:2px;
  border:1px solid grey;  
}

/* I fixed the card images height and width*/
.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;  
}

#jumbo-subtitle {
   font-size: 1.2rem; 
   color:white; 
   margin-bottom:4px; 
}

/*---------------------------------------
  Contact section              
-----------------------------------------*/

.contact-info .fa {
  padding-right: 5px;
}

#contact .form-control {
  border: none;
  border-bottom: 2px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#contact .form-control:focus {
  border-bottom-color: #999999;
}

#contact input {
  height: 55px;
}

#contact button#submit {
  background:rgb(238,75,40);
  border: none;
  border-radius: 50px;
  color: #ffffff;
  height: 50px;
  margin-top: 24px;
}

.parallax-section {
   /* background:rgb(245,245,245); */
   background: #ffffff; 
}

#contact button#submit:hover {
  background:rgb(238,75,40);
  color: #ffffff;
}

/* icon on image position */

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;  
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* floating action button new Gift */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(238,75,40);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

/* floating action button margin*/
.my-float{
	margin-top:22px;
}

/* modal button save and cancel font-size*/
#btn-save , #btn-cancel {
  font-size: 14px;

}

