.btn-outline-secondary {
  margin: 4% auto; 
  border-radius:2px;
  border:1px solid grey;  
}

/* I fixed the card images height and width*/
.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;  
}

#jumbo-subtitle {
   font-size: 1.2rem; 
   color:white; 
   margin-bottom:4px; 
}

#new1 {
  border-top: 3px solid #F05F40;
  max-width: 110px;
}